<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVQo27kk8SK0B67MtL8VsixZhqt23Xqok</string>
	<key>GCM_SENDER_ID</key>
	<string>959053324627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roman-dev.blueBusiness</string>
	<key>PROJECT_ID</key>
	<string>blue-business-24696</string>
	<key>STORAGE_BUCKET</key>
	<string>blue-business-24696.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959053324627:ios:50399dc64c5181f9d6c1a6</string>
	<key>DATABASE_URL</key>
	<string>https://blue-business-24696-default-rtdb.firebaseio.com</string>
</dict>
</plist>